.signup-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px 0 10px 0;
}

.register-image-content,
.signup-form {
  width: 48%;
}

.register-image-content {
  display: flex;
  align-items: flex-start;
}

.register-image {
  width: 600px;
  display: flex;
  justify-content: flex-start;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  font-size: 28px;
  font-weight: 800;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin: 6px 0;
  font-size: 16px;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #9e77ed;
  outline: none;
}

.content1 {
  display: flex;
  gap: 20px;
}

.firstName,
.lastame,
.mcNumber,
.contactNumber,
.faculty,
.department {
  flex: 1;
}

.register-btn{
  margin-top: 10px;
  width: 400px;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.terms label {
  color: #666;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .signup-container {
    flex-direction: column;
    padding: 50px 0;
    height: auto;
  }

  .signup-form,
  .register-image-content {
    width: 80%;
    margin-bottom: 30px;
  }

  .register-image-content {
    order: -1;
    justify-content: center;
  }
}
