.custom-button {
  color: white;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-weight: 500;
  margin-top: 8px;
}

.custom-button.small {
  padding: 4px 8px;
  font-size: 12px;
  text-transform: capitalize;
}

.custom-button.medium {
  padding: 8px 16px;
  font-size: 14px;
  margin-top: 10px;
  text-transform: capitalize;
}

.custom-button.large {
  padding: 12px 24px;
  font-size: 16px;
  text-transform: capitalize;
}

.custom-button.disabled {
  cursor: not-allowed;
  background-color: #b3b3b3 !important;
  color: #ffffff !important;
}

.custom-button.outline {
  background-color: transparent;
  color: #634897;
  border: 1px solid #634897;
}

.custom-button.outline.disabled {
  color: #b3b3b3 !important;
  border-color: #b3b3b3 !important;
}
