.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 48px 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  height: 85%;
}
.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro-content h3 {
  font-weight: 800;
}

.intro-content h6 {
  line-height: 1.2;
  font-size: 16px;
}

.cgp-logo {
  width: 150px;
  height: 50px;
}

.login-image {
  width: 700px;
  display: flex;
  justify-content: flex-start;
}

.login-image img {
  width: 100%;
  height: auto;
}

.loginbody-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-form {
  width: 400px;
  height: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  font-size: 28px;
  font-weight: 800;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

.input-field {
  position: relative;
}

.input-field label {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.input-field input {
  width: 90%;
  padding: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field input:focus {
  border-color: #9e77ed;
}

.input-field a {
  margin-bottom: 50px;
  justify-content: flex-start;
  right: 0;
  font-size: 14px;
  color: #383241;
  text-decoration: none;
}

.login-form button {
  padding: 14px;
  margin: 16px 0;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.login-form button:hover {
  background-color: #5700d2;
}

.create-account {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.create-account span {
  color: #333;
}

.create-account a {
  color: #6200ea;
  text-decoration: none;
}

.copyright {
  margin-top: -10px;
}

@media (max-width: 768px) {
  .login-image {
    width: 100%;
    padding-right: 0;
  }

  .login-form {
    width: 90%;
    margin-top: 20px;
  }

  .container {
    flex-direction: column;
  }
}
